.content {
    width: 80%;
    height: 637px;

    margin: auto;

    display: grid;
    grid-template-areas:
    'bathroom marble outdoor'
    'bathroom marble kitchen'
    ;

    gap: 0 2rem;
}

.content__bathroom {
    width: 575px;
    height: 100%;

    position: relative;

    grid-area: bathroom;

    background-position: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/bathroomProduct.png);
}

.content__marble{
    width: 339px;
    height: 638px;

    position: relative;

    grid-area: marble;

    background-position: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/marbleProduct.png);
}

.content__outdoor{
    width: 454px;
    height: 294px;

    position: relative;

    grid-area: outdoor;

    background-position: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/outdoorProduct.png);

    align-self: flex-start;
}
.content__kitchen{
    width: 454px;
    height: 294px;

    position: relative;

    grid-area: kitchen;

    background-position: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/kitchenProduct.png);

    align-self: flex-end;
}