.footer{
    width: 100%;
    height: 340px;

    background-color: var(--black);
    color: var(--white);

    display: flex;

    padding: 5rem 5vw 1rem 5vw;

    box-sizing: border-box;
}

.footer__infos{
    width: 65%;
    
    display: flex;
    justify-content: space-around;
}